{namespace pw=PwCommentsTeam\PwComments\ViewHelpers}<f:translate key="tx_pwcomments.notificationMail.salutation" />
<f:if condition="{settings.moderateNewComments}"><f:then><f:translate key="tx_pwcomments.notificationMail.newCommentWithModerationHasBeenSubmitted" /></f:then><f:else><f:translate key="tx_pwcomments.notificationMail.newCommentHasBeenSubmitted" /></f:else></f:if>

<f:translate key="tx_pwcomments.notificationMail.linkToArticle" />
<f:format.raw><f:uri.page addQueryString="true" absolute="true" section="{settings.commentAnchorPrefix}{comment.uid}"
                          argumentsToBeExcludedFromQueryString="{0:'id', 1:'cHash', 2:'tx_pwcomments_pi1'}" /></f:format.raw>
<f:if condition="{settings.moderateNewComments}">
<f:translate key="tx_pwcomments.notificationMail.linkToApproval" />
<f:format.raw><f:uri.action action="confirmComment" controller="Comment" arguments="{comment:'{comment}', hash:'{hash}'}"
              addQueryString="true" argumentsToBeExcludedFromQueryString="{0:'id', 1:'chash', 2:'tx_pwcomments_pi1'}" absolute="true"
              section="{settings.commentAnchorPrefix}{comment.uid}" /></f:format.raw>
</f:if>
---------------------------------------------------

<f:translate key="tx_pwcomments.notificationMail.name" />{f:if(condition: '{comment.author}', then: '{comment.author.username} {f:translate(key:\'tx_pwcomments.notificationMail.registred\')}', else: '{comment.authorName}')}
<f:translate key="tx_pwcomments.notificationMail.mail" />{f:if(condition: '{comment.author}', then: '{comment.author.email}', else: '{comment.authorMail}')}

<f:translate key="tx_pwcomments.notificationMail.comment" />
{comment.message}
